* {
    font-family: 'Kumbh Sans', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(180deg, hsl(273, 75%, 66%) 25%, hsl(240, 73%, 65%) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    position: absolute;
    width: 325px;
    height: 550px;
    background-color: white;
    box-sizing: border-box;
    padding: 14px;
    border-radius: 20px;
    bottom: 72px;
}

h1 {
    margin: 0;
    text-align: center;
}

details, summary {
    color: hsl(237, 12%, 33%);
    font-size: 12px;
    font-weight: 700;
}

details {
    border-bottom: 1px solid hsl(240, 5%, 91%);
    padding: 14px 0;
}

details:hover {
   cursor: pointer;
}

summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
}

summary:hover {
    color: hsl(14, 88%, 65%);
}

details[open] > summary {
    color: black;
    font-weight: 700;
}

details[open] > summary > .custom-arrow {
    transform: rotate(180deg);
}

p {
    font-weight: 400;
    color: hsl(240, 6%, 50%);
    padding-right: 26px;
}

footer {
    position: absolute;
    bottom: 8px;
}

.images {
    height: 125px;
}

.mobile-image {
    position: relative;
    height: 100px;
}

.faq-section {
    bottom: 0;
}

.faq-accordion {
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.custom-arrow {
    width: 10px;
    height: 8px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(14, 88%, 65%); 
}

#woman {
    bottom: 80px;
    left: 80px;
    scale: 1.75;
}

#bg {
    bottom: 115px;
    left: 30px;
}

#desktop-box-image {
    display: none;
}

@media screen and (min-width: 720px) {
    main {
        position: static;
        display: flex;
        justify-content: space-between;
        height: 500px;
        width: 900px;
        padding: 0 28px 0 0;
        /*overflow: hidden;*/
    }

    h1 {
        text-align: left;
        padding: 24px 0;
    }

    .desktop-box-image-container {
        position: relative;
        width: 0;
        height: 0;
        top: 180px;
        left: -100px;
    }

    .images {
        width: 50%;
        height: 100%;
        box-sizing: border-box;
        overflow: hidden;
    }

    .faq-section {
        z-index: 2;
        width: 50%;
        box-sizing: border-box;
        padding-top: 28px;
        padding-left: 28px;
        padding-right: 48px;
    }

    .faq-accordion {
        height: 80%;
    }

    #woman {
        content: url("images/illustration-woman-online-desktop.svg");
        scale: 3.5;
        bottom: -175px;
        z-index: 1;
    }

    #bg {
        content: url("images/bg-pattern-desktop.svg");
        top: 30%;
        left: -220px;
        top: 130px;
        scale: 8;
    }

    #desktop-box-image {
        position: relative;
        display: block;
        z-index: 2;
    }
}